<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="mailto:agk34@cam.ac.uk"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i><meta itemprop="email" content="agk34@cam.ac.uk">Email</a>
<a href="https://scholar.google.co.uk/citations?user=hE2mTp4AAAAJ" itemprop="sameAs"><i class="ai ai-fw ai-google-scholar-square" aria-hidden="true"></i>Google Scholar</a>
<a href="https://www.linkedin.com/in/alexgkendall" itemprop="sameAs"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a>
<a href="https://github.com/alexgkendall" itemprop="sameAs"><i class="fa fa-fw fa-github" aria-hidden="true"></i>Github</a>
<a href="https://twitter.com/alexgkendall" itemprop="sameAs"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i>Twitter</a>

</div>