<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} 
&nbsp;&nbsp;&nbsp;&nbsp;
<!--
<a href="mailto:anirudhprabakaran7@gmail.com"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i><meta itemprop="email" content="anirudhprabakaran7@gmail.com">Email</a>
<a href="https://www.linkedin.com/in/anirudh-prabakaran" itemprop="sameAs"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a>
<a href="https://github.com/Anirudh58/" itemprop="sameAs"><i class="fa fa-fw fa-github" aria-hidden="true"></i>Github</a>
<a href="https://twitter.com/Anip58/" itemprop="sameAs"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i>Twitter</a>
-->
</div>